html, body {
    margin: 0;
    padding: 0;
    font-family: "Arial Nova";
}

#connectionBlock {
    width: 40%;
    margin: auto;
    margin-bottom: 60px;
}

#connectionBlock input {
    display: block;
    width: 50%;
    padding: 10px;
    margin-bottom: 40px;
    margin-left: 25%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #17253d;
}

#connectionBlock input[type="submit"] {
    background-color: #17253d;
    width: 30%;
    color: white;
    margin-left: 35%;
    border: 2px solid white;
    font-size: 20px;
}

#connectionBlock input[type="submit"]:hover {
    background-color: white;
    color: #17253d;
    border: 2px solid #17253d;
}

#connectionBlock label {
    margin-left: 25%;
    font-size: 20px;
    font-style: italic;
}

#connectionBlock fieldset {
    border-radius: 5px;
    margin-top: 90px;
    padding: 25px;
}

#connectionBlock legend {
    font-size: 20px;
}

#map {
    width: 40%;
    height: 450px;
    border-radius: 20px;
}

#ContentMapAndTrip {
    width: 95%;
    display: flex;
    padding: 30px;
    justify-content: space-around;
    margin: auto;
    background-color: rgba(234, 233, 234, 0.62);
    border-radius: 15px;
}

#titleTransport {
    margin-top: 70px;
    text-align: center;
    color: coral;
    font-size: 35px;
    font-family: Calibri;
    font-style: oblique;
}

#Trip {
    height: 450px;
    padding: 10px;
    text-align: center;
    overflow: auto;
    border-radius: 5px;
}

#Trip a {
    text-decoration: none;
    background-color: coral;
    color: white;
    border-radius: 5px;
    padding: 10px 35px;
}

#Trip a:hover {
    text-decoration: none;
    background-color: white;
    color: coral;
    border: 2px solid coral;
    border-radius: 5px;
    padding: 10px 35px;
}

#displayTrip {
    margin-left: 10px;
    margin-right: 10px;
    color: coral;
}

#infoTrip {
    text-align: center;
    font-size: 20px;
}

#infoTrip span {
    color: coral;
}

#star {
    text-decoration: none;
    background-color: coral;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
}

#star:hover {
    background-color: white;
    color: coral;
}

.adminNavigationOne, .adminNavigationTwo {
    display: flex;
}

.adminNavigationOne li {
    display: inline-flex;
}

.adminNavigationTwo li {
    display: inline-flex;
}

#navigationAdmin, #navigationUser {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: white;
    padding: 1px;
    width: 80%;
}

#test {
    display: flex;
}

#infoTripAdmin {
    display: block;
}

#addTrip {
    width: 30%;
    padding: 15px
}

#addTrip input, select {
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
}

#addTrip label {
    margin-left: 35%;
    margin-bottom: 10px;
    padding: 10px;
}

#addTrip input[type="submit"] {
    background-color: coral;
    width: 30%;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 15px;
}

#addTrip input[type="submit"]:hover {
    background-color: white;
    color: coral;
    border: 2px solid coral;
}

#addTrip {
    border-radius: 5px;
}

#Tripadmin {
    height: 450px;
    width: 50%;
    padding: 10px;
    text-align: center;
    overflow: auto;
    border-radius: 5px;
}

#TripSearch {
    height: 500px;
    margin: auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    overflow: auto;
    border-radius: 15px;
}

#updateTrip {
    color: green;
}

#deleteTrip {
    color : red;
}

#addCity {
    width: 95%;
    margin: auto;
}

#addCity label {
    font-size: 20px;
}

#addCity form {
    width: 100%;
    justify-content: space-around;
    display: flex;
}

#addCity input {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 4px;
}

#addCity input[type="submit"] {
    width: 10%;
    position: absolute;
    background-color: rgba(255, 70, 0, 0.62);
    font-size: 17px;
    color: white;
    border: none;
    left: 45.2%;
}

#addCity input[type="submit"]:hover {
    background-color: white;
    color: coral;
    border: 2px solid coral;
}

#ligne_point {
    display: flex;
    width: 10%;
    margin: auto;
    margin-top: -2.5%;
    margin-bottom: 3%;
}

.ligne_1 {
    width: 40%;
}

.ligne_2 {
    width: 40%;
    margin-left: 1%;
    border-left: none;
    border-top: none;
}

.point {
    border: 6px solid coral;
    border-radius: 100%;
    width: 0.1%;
    margin: auto;
}

.cercle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 4px solid white;
    margin-left: 2%;
}

#userBoat span {
    color: coral;
}

.return {
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    margin: 30px 40px;
    color: white;
    background-color: coral;
    padding: 10px;
}

.return:hover {
    color: coral;
    background-color: white;
    border: 2px solid coral;
}

#addBoat, #favoriteTransport {
    margin: auto;
    width: 30%;
    padding: 30px
}

#favoriteTransport {
    width: 40%;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
}

#favoriteTransport span {
    color: coral;
    font-size: 20px;
}

#addBoat input {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
}

#addBoat label {
    margin-left: 20%;
    margin-bottom: 10px;
    padding: 10px;
}

#addBoat input[type="submit"] {
    background-color: coral;
    width: 30%;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 15px;
}

#addBoat input[type="submit"]:hover {
    background-color: white;
    color: coral;
    border: 2px solid coral;
}

#addBoat {
    border-radius: 5px;
}

table td {
    text-align: center;
}

.chevron {
    margin-top: -45px;
    margin-bottom: 40px;
}

.chevron button {
    width: 4%;
    margin-left: 47.75%;
    background-color: white;
    border: none;
}

.chevron i:nth-child(1) {
    color: red;
}

.chevron i:nth-child(2) {
    margin-top: -16px;
    display: block;
    color: red;
}

.chevronUp {
    margin-top: -45px;
    margin-bottom: 40px;
}

.chevronUp button {
    width: 4%;
    margin-left: 47.75%;
    background-color: white;
    border: none;
}

.chevronUp i:nth-child(1) {
    color: red;
}

.chevronUp i:nth-child(2) {
    margin-top: -16px;
    display: block;
    color: red;
}

#showAddCity, #hideAddCity {
    width: 15%;
    margin-left: 42.5%;
    margin-top: 90px;
    margin-bottom: 50px;
    text-align: center;
    padding: 10px;
    border: 2px solid coral;
    color: coral;
    font-size: 18px;
    border-radius: 8px;
    background-color: white;
}

#slider {
    width: 1000px;
    height: 450px;
    margin:  20px auto;
    border-radius: 15px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 1000px;
    height: 450px;
}

#welcome {
    width: 70%;
    margin: 50px auto;
}

#welcome p {
    text-align: justify;
    font-family: Ebrima;
    font-size: large;
}

#welcome p span{
    color : coral;
    font-style: italic;
}

.findBoat {
     text-align: center;
     display: flex;
     margin-bottom: 150px;
     justify-content: space-around;
 }

.findBoat span{
    color: coral;
}

.findBoat img{
    border-radius: 10px;
}

.textFindBoat {
    margin-top: 80px;
}

.hideHelp {
    display: none;
}

@media all and (max-width: 1300px) {
    #connectionBlock {
        width: 80%;
    }

    .findBoat {
        display: block;
    }

    .findBoat img{
        width: 50%;
        height: auto;
    }

    .textFindBoat {
        width: 80%;
        margin: auto;
        text-align: center;
    }
     #slider{
         width: 90%;
         height: auto;
     }

     .chevron {
         margin-top: -25px;
         margin-left: -15px;
     }

     .chevron i:nth-child(2) {
         margin-left: 5px;
     }

     .chevronUp {
         margin-top: -25px;
         margin-left: -13px;
     }

    .chevronUp i:nth-child(1) {
        margin-left: 5px;
    }

    #map {
        width: 95%;
        margin-left: 2.5%;
        align-content: center;
    }

    #ContentMapAndTrip {
        display: block;
        padding: 10px;
    }

    #favoriteTransport {
        width: 90%;
    }

    #addBoat {
        width: 80%;
    }

    #addTrip {
        width: 80%;
        margin: auto;
    }

    #showAddCity, #hideAddCity {
        width: 30%;
        margin-left: 35.5%;
    }

    #city {
        margin-top: -20px;
    }

    #addCity input[type="submit"] {
        position: absolute;
        left: 35.5%;
        width: 30%;
    }

    #Tripadmin {
        width: 80%;
        margin: 50px auto;
    }

    #Trip {
        margin-left: 0;
        height: auto;
    }

    #userBoat {
        text-align: center;
    }
}

@media all and (max-width: 691px) {

    #navigationAdmin {
        display: block;
    }

    #navigationAdmin ul{
        margin: 10px -50px;
    }

    .adminNavigationTwo li:nth-child(1){
        margin-left: 90px;
    }

    #addCity form {
        display: block;
        width: 80%;
        margin: auto;
    }

    #addCity input[type="submit"] {
        position: absolute;
        left: 28%;
        width: 50%;
    }

    #showAddCity, #hideAddCity {
        width: 50%;
        margin-left: 28%;
        margin-bottom: -300px; !important;
    }

    #addTrip input, select {
        width: 70%;
    }

    #addTrip input[type="submit"] {
        width: 70%;
    }

    #Trip {
        margin-left: 0;
        font-size: 10px;
    }

    #TripSearch {
        width: 90%;
    }

    #connectionBlock form {
        width: 100%;
    }

    #connectionBlock input {
        width: 90%;
        margin-left: 0;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    #connectionBlock input[type="submit"] {
        width: 90%;
        margin-left: 10px;
    }

    #connectionBlock label {
        margin-left: 0;
    }

    .adminNavigationOne {
        display: block;
    }

    .adminNavigationTwo {
        display: block;
        //margin-left: 12%;
    }

    #navigationUser {
        display: inline;
    }

    #Trip span {
        font-size: 15px;
    }
    #Trip a {
        padding: 8px 10px;
        font-size: 15px;
    }

    #Trip a:hover {
        padding: 8px 10px;
        font-size: 15px;
    }

    #favoriteTransport tr:nth-child(1){
        display: none;
    }

    #favoriteTransport {
        width: 80%;
    }


    #favoriteTransport td {
        display: flex;
    }

    .hideHelp {
        display: flex;
        color: red;
        margin-right: 20px;
    }

    .chevron {
        margin-top: -5px;
        margin-left: -30px;
    }

    .chevron i:nth-child(2) {
        margin-left: 5px;
    }

    .chevronUp {
        margin-top: -5px;
        margin-left: -30px;
    }

    .chevronUp i:nth-child(1) {
        margin-left: 5px;
    }
}
