html, body {
    margin: 0;
    padding: 0;
    font-family: "Arial Nova";
}

#connectionBlock {
    width: 40%;
    margin: auto;
    margin-bottom: 60px;
}

#connectionBlock input {
    display: block;
    width: 50%;
    padding: 10px;
    margin-bottom: 40px;
    margin-left: 25%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #17253d;
}

#connectionBlock input[type="submit"] {
    background-color: #17253d;
    width: 30%;
    color: white;
    margin-left: 35%;
    border: 2px solid white;
    font-size: 20px;
}

#connectionBlock input[type="submit"]:hover {
    background-color: white;
    color: #17253d;
    border: 2px solid #17253d;
}

#connectionBlock label {
    margin-left: 25%;
    font-size: 20px;
    font-style: italic;
}

#connectionBlock fieldset {
    border-radius: 5px;
    margin-top: 90px;
    padding: 25px;
}

#connectionBlock legend {
    font-size: 20px;
}

#map {
    width: 40%;
    height: 450px;
    border-radius: 20px;
}

#ContentMapAndTrip {
    width: 95%;
    display: flex;
    padding: 30px;
    justify-content: space-around;
    margin: auto;
    //margin-top: 70px;
    background-color: rgba(234, 233, 234, 0.62);
    border-radius: 15px;
}

#titleTransport {
    margin-top: 70px;
    text-align: center;
    color: coral;
    font-size: 35px;
    font-family: Calibri;
    font-style: oblique;
}

#Trip {
    height: 450px;
    padding: 10px;
    text-align: center;
    overflow: auto;
    border-radius: 5px;
}

#Trip a {
    text-decoration: none;
    background-color: coral;
    color: white;
    border-radius: 5px;
    padding: 10px 35px;
}

#Trip a:hover {
    text-decoration: none;
    background-color: white;
    color: coral;
    border: 2px solid coral;
    border-radius: 5px;
    padding: 10px 35px;
}

#displayTrip {
    margin-left: 10px;
    margin-right: 10px;
    color: coral;
}

#infoTrip {
    text-align: center;
    font-size: 20px;
}

#infoTrip span{
    color: coral;
}

#star {
    text-decoration: none;
    background-color: coral;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
}

#star:hover {
    background-color: white;
    color: coral;
}

.adminNavigationOne, .adminNavigationTwo {
    display: flex;
}

.adminNavigationOne li {
    display: inline-flex;
}

.adminNavigationTwo li {
    display: inline-flex;
}
#navigationAdmin, #navigationUser {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: white;
    padding: 1px;
    width: 80%;
}

#test {
    display: flex;
}

#infoTripAdmin {
    display: block;
}

#addTrip {
    width: 30%;
    padding : 15px
}
#addTrip input{
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
}

#addTrip label{
    margin-left: 35%;
    margin-bottom: 10px;
    padding: 10px;
}

#addTrip input[type="submit"] {
    background-color: coral;
    width: 30%;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 15px;
}

#addTrip input[type="submit"]:hover {
    background-color: white;
    color: coral;
    border: 2px solid coral;
}

#addTrip {
    border-radius: 5px;
}

#Tripadmin {
    height: 450px;
    width: 50%;
    padding: 10px;
    text-align: center;
    overflow: auto;
    border-radius: 5px;
}
#TripSearch {
    height: 500px;
    padding: 10px;
    text-align: center;
    overflow: auto;
    border-radius: 5px;
}

#Tripadmin a {
    text-decoration: none;
    background-color: coral;
    color: white;
    border-radius: 5px;
    padding: 10px 35px;
}

#Tripadmin a:hover {
    text-decoration: none;
    background-color: white;
    color: coral;
    border: 2px solid coral;
    border-radius: 5px;
    padding: 10px 35px;
}

#addCity {
    width: 95%;
    margin: auto;
}

#addCity label {
    font-size: 20px;
}
#addCity form {
    width: 100%;
    justify-content: space-around;
    display: flex;
}

#addCity input {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 4px;
}

#addCity input[type="submit"] {
    width: 10%;
    position: absolute;
    background-color: rgba(255,70,0,0.62);
    font-size: 17px;
    color: white;
    border: none;
    left: 45.2%;
}

#addCity input[type="submit"]:hover {
    background-color: white;
    color: coral;
    border: 2px solid coral;
}

#ligne_point{
    display: flex;
    width: 10%;
    margin: auto;
    margin-top: -2.5%;
    margin-bottom: 3%;
}

.ligne_1{
    width: 40%;
}

.ligne_2{
    width: 40%;
    margin-left: 1%;
    border-left: none;
    border-top: none;
}

.point{
    border: 6px solid coral;
    border-radius: 100%;
    width: 0.1%;
    margin: auto;
}

.cercle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 4px solid white;
    margin-left: 2%;
}

#userBoat span{
    color: coral;
}

.return {
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    margin : 30px 40px;
    color: white;
    background-color: coral;
    padding: 10px;
}

.return:hover {
    color: coral;
    background-color: white;
    border: 2px solid coral;
}

#addBoat, #favoriteTransport {
    margin: auto;
    width: 30%;
    padding : 30px
}
 #favoriteTransport {
     width: 40%;
     padding: 20px;
     margin-bottom: 50px;
     border-radius: 8px;
 }

#favoriteTransport span {
    color: coral;
    font-size: 20px;
}

#addBoat input{
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
}

#addBoat label{
    margin-left: 20%;
    margin-bottom: 10px;
    padding: 10px;
}

#addBoat input[type="submit"] {
    background-color: coral;
    width: 30%;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 15px;
}

#addBoat input[type="submit"]:hover {
    background-color: white;
    color: coral;
    border: 2px solid coral;
}

#addBoat {
    border-radius: 5px;
}

table td {
    text-align: center;
}

.chevron {
    margin-top: -50px;
    margin-bottom: 40px;
}

.chevron button {
    width: 4%;
    margin-left: 47.7%;
    background-color: white;
    border: none;
}
.chevron i:nth-child(1){
    color: red;
}

.chevron i:nth-child(2){
    margin-top: -16px;
    display: block;
    color: red;
}

.chevronUp {
    margin-top: -50px;
    margin-bottom: 40px;
}

.chevronUp button {
    width: 4%;
    margin-left: 47.7%;
    background-color: white;
    border: none;
}
.chevronUp i:nth-child(1){
    color: red;
}

.chevronUp i:nth-child(2){
    margin-top: -16px;
    display: block;
    color: red;
}

