html, body {
    margin: 0;
    padding: 0;
    font-family: "Arial Nova";
}

#navigationPublic {
    //background-image: url("../images/watter4.jpg");
    background-color: #17253d;
    padding: 1px;
}

.publicNavigation ul {
    text-align: center;
    list-style-type: none;
}

.publicNavigation li {
    display : block;
    justify-content: space-around;
}

#connectionBlock {
    width: 40%;
    margin: auto;
    margin-bottom: 60px;
}

#connectionBlock input{
    display: block;
    width: 50%;
    padding: 10px;
    margin-bottom: 40px;
    margin-left : 25%;
    margin-top: 10px;
    border-radius: 5px;
    border : 1px solid #17253d;
}

#connectionBlock input[type="submit"]{
    background-color: #17253d;
    width: 30%;
    color : white;
    margin-left: 35%;
    border : 2px solid white;
    font-size: 20px;
}
#connectionBlock input[type="submit"]:hover{
    background-color: white;
    color : #17253d;
    border : 2px solid #17253d;
}

#connectionBlock label{
    margin-left : 25%;
    font-size: 20px;
    font-style: italic;
}

#connectionBlock fieldset {
    border-radius: 5px;
    margin-top: 90px;
    padding: 25px;
}

#connectionBlock legend {
    font-size: 20px;
}

#map{
    width: 40%;
    height: 450px;
    border-radius: 20px;
}

#ContentMapAndTrip {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#Trip {
    height: 450px;
    padding: 10px;
    text-align: center;
    overflow: auto;
    border-radius: 5px;
}

#Trip a {
    text-decoration: none;
    background-color: coral;
    color: white;
    border-radius: 5px;
    padding: 10px 35px;
}

#Trip a:hover {
    text-decoration: none;
    background-color: white;
    color: coral;
    border: 2px solid coral;
    border-radius: 5px;
    padding: 10px 35px;
}

#displayTrip {
    margin-left: 10px;
    margin-right: 10px;
    color: coral;
}

#infoTrip {
    text-align: center;
}

#star {
    text-decoration: none;
    background-color: coral;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
}

#star:hover {
    background-color: white;
    color: coral;
}
