{% extends 'templates/templateForm.php.twig' %}

{% block title %}
    hello
{% endblock %}

{% block content %}

{% include 'navigations/visitorNav.php.twig' %}

    <div id="connectionBlock">
        <fieldset>
            <legend><span>Déjà inscrit ?</span></legend>
            <form id="connectForm" method="POST">
                <label>Nom :<input type="text" name="name" placeholder="Ex: Laroche"></label>
                <label>Prénom :<input type="text" name="firstName" placeholder="Gerrard"></label>
                <label>Mots de passe : <i class="fas fa-unlock-alt fa-1x"></i> <input type="password" name="password" placeholder="xxxxxxx"></label>
                <input type="submit" name="connect" value="Se connecter">
            </form>
            <a style="text-decoration: none; color: #ff1cb8; font-size: 20px" href="index.php?action=inscription">Créer un compte</a>
        </fieldset>
    </div>
{% endblock %}
