<div id="navigationUser">
    <nav class="adminNavigationOne">
        <ul>
            <li style="color: black; font-size: 30px"> <span style="color: white; margin-left: 15px">
                    Espace de connexion </span>
            </li>
        </ul>
    </nav>
    <nav class="adminNavigationTwo">
        <ul>
            <li><a href="index.php?action=deconnexion"><i style="color: white" class="fas fa-anchor fa-2x"
                                                          title="Se déconnecter"></i></a></li>
        </ul>
    </nav>
</div>
